# Build results
bin/
obj/
out/

# User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# VS Code settings
.vscode/

# Rider settings
.idea/

# Secrets
appsettings.Development.json
